.lista-quizzes {
  width: 1051px;
  margin: 69px 0 211px;
}

.quizzes-usuario-vazio {
  width: 100%;
  height: 181px;
  border: 1px dashed #d4d4d4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 77px 0;
}

.quizzes-usuario-vazio > p {
  width: 250px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 37.5px 0 30px;
  color: #b9b9b9;
}

.quizzes-usuario-vazio > button {
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  background: #fafafa;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec362d;
  cursor: pointer;
}

.cabecalho-quizzes-usuario {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0 10px;
}

.cabecalho-quizzes-usuario > ion-icon {
  font-size: 31px;
  color: #ec362d;
  cursor: pointer;
}

.lista-quizzes h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: start;
  color: #000000;
}

.quizzes-usuario {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 15px;
  margin-bottom: 48px;
}

.quizzes-todos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 15px;
  margin-top: 12px;
}

.quizz {
  width: 340px;
  height: 181px;
  position: relative;
  cursor: pointer;
}

.quizz .imagem {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.quizz > h6 {
  width: 301px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: start;
  color: #ffffff;
  position: absolute;
  bottom: 12px;
  left: 18px;
  word-wrap: break-word;
}

.quizz .botoes {
  width: 43px;
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 9px;
  right: 0;
  background-color: #ec362d;
  border-radius: 10px 0px 0px 11px;
  padding: 10px 0;
}

.quizz .botoes button {
  background-color: transparent;
  border: transparent;
}

.quizz .botoes ion-icon {
  font-size: 24px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.quizz .botoes ion-icon:hover {
  font-size: 26px;
}

@media screen and (max-width: 1100px) {
  .lista-quizzes {
    width: 100%;
    padding: 0 18px;
    margin-bottom: 14px;
  }

  .quizzes-usuario-vazio {
    margin: 31px 0 35px;
  }

  .cabecalho-quizzes-usuario {
    width: 100%;
    margin: 34px 0 13px;
  }

  .quizzes-usuario {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 13px;
    column-gap: initial;
    margin-bottom: 38px;
  }

  .quizzes-todos {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 13px;
    column-gap: initial;
    margin-top: 14px;
  }

  .quizz {
    width: 100%;
    height: 550px;
  }

  .quizz .imagem {
    width: 100%;
  }

  .quizz > h6 {
    width: 88.5294118%;
  }
}

/* @media screen and (max-width: 800px) {
  .quizz {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .quizz {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .quizz {
    width: 100%;
    height: 200px;
  }
} */
